{% assign image = section.settings.image %}

<div class="container mb-12 md:mb-24 ">
  <div class="w-full  relative  lg:grid grid-cols-2">



    <div class="w-full flex justify-center items-center">
      <div class="p-4 space-y-20 ">

        <div class="text-2xl lg:text-6xl mb-2 ubuntubold" style="line-height: 1.2;">
          BOOST YOUR PRODUCTIVITY

          <div class="text-2xl lg:text-6xl 
          mb-2 text-gray-400 font-thin ubuntuthin" style="line-height: 1.2;">
              BE BETTER VERSION OF YOURSELF
            </div>
        </div>

       
  
        <div class="flex space-x-1 ">
          <img class="-rotate-45" width="50"  src="{{ 'leaf.static.png' | asset_url}}" alt="">
          <div class="lg:text-2xl">
            <h1 class="font-bold">100%</h1> 
            <p class="text-gray-500">VEGAN</p>
           </div>
        </div>
     
        <!-- <a href="{{ section.settings.button-url }}" class="button bg-white">
          {{ section.settings.button-text }} {{ section.settings.hero-promotion }}
        </a> -->
      </div>


  
    </div>

    <div class="relative">

      <div class="relative">

        <img class="absolute bottom-16 right-[35%] z-10 animate-floating " width="120" src="{{ 'capsule.static.png' | asset_url}}" alt="">
        <img class="absolute top-[50%] left-0 -rotate-45 z-10 blur-sm animate-floating " width="60" src="{{ 'capsule.static.png' | asset_url}}" alt="">
        <img class="absolute top-[30%] left-20 -rotate-45  blur-sm animate-floating " width="70" src="{{ 'capsule.static.png' | asset_url}}" alt="">
        <img class="absolute top-[10%] left-[30%] -rotate-45  blur-md animate-floating " width="30" src="{{ 'capsule.static.png' | asset_url}}" alt="">
        <img class="absolute top-10 right-20 -rotate-45  animate-floating " width="80" src="{{ 'capsule.static.png' | asset_url}}" alt="">
        <img class="absolute top-[50%] right-[30%] -rotate-45  animate-floating " width="90" src="{{ 'capsule.static.png' | asset_url}}" alt="">
        
        <img
        src="{{'bottle.static.webp' | asset_url}}"
        alt="{{ image.alt }}"
        loading="lazy"
        class="w-full h-full object-cover object-center rotate-12"
      >
      </div>

  

    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.hero.name",
  "class": "shopify-section-vue",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:common.image"
    },
    {
      "type": "text",
      "id": "headline",
      "label": "t:common.headline",
      "default": "Headline"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "t:common.text",
      "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quos hic praesentium recusandae dolores odio animi deleniti officia cum itaque."
    },
    {
      "type": "text",
      "id": "isatext",
      "label": "This is isaText",
      "default": "Hallo World"
    },
    {
      "type": "url",
      "id": "button-url",
      "label": "t:common.button.url"
    },
    {
      "type": "text",
      "id": "hero-promotion",
      "label": "Promotion"
    },
    {
      "type": "text",
      "id": "button-text",
      "label": "t:common.button.text",
      "default": "Button"
    }
  ],
  "presets": [
    {
      "name": "t:sections.hero.name",
      "category": "Image"
    }
  ]
}
{% endschema %}